<div class="row organisation_address">
    <h2>Address</h2>
    <table class="table table-bordered">
        <tr>
            <td>Line 1</td>
            <td>{{ organisation.address().line1 }}</td>
        </tr>
        <tr>
            <td>Line 2</td>
            <td>{{ organisation.address().line2 }}</td>
        </tr>
        <tr>
            <td>(Zip)Postcode</td>
            <td>{{ organisation.address().postcode }}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{ organisation.address().city }}</td>
        </tr>
        <tr>
            <td>Province/State</td>
            <td>{{ organisation.address().province }}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td><span class="flag-icon flag-icon-{{ organisation.country_code()|lower }} flag-icon-squared flag-icon-squared"></span>{{ organisation.country() }}</td>
        </tr>
    </table>
</div>